<section>  
    <form method="POST" action="/products/update/{{_id}}?method=PUT">
        <div class="login-reg">
            <h1>Inventory</h1>
            <hr>
                
            <label for="name"><b>Product Name</b></label>
            <input type="text" name="name" id="name" value="{{name}}"> 

            <label for="price"><b>Product Price</b></label>
            <input type="number" name="price" id="price" value="{{price}}">

            <label for="description"><b>Product Description</b></label>
            <input type="text" name="description" id="description" value="{{description}}">

            <label for="category"><b>Product Category</b></label>
            <select name="category" id="category" value="{{category}}">
            <option value="men" {{if_same category "men"}} >Men's</option>
            <option value="women" {{if_same category "women"}}  >Women's</option>
            <option value="electronics" {{if_same category "electronics"}} >Electronics</option>
            <option value="books" {{if_same category "books"}} >Books</option>
            </select><br><br>

            <label for="quantity"><b>Product Quantity</b></label>
            <input type="number" name="quantity" id="quantity" value="{{quantity}}">

            <label for="bestSeller"><b>Bestseller</b></label>
            <input type="radio" id="bestSeller" name="bestSeller" value="true" {{if_checked bestSeller true}} >
            <label for="yes">Yes</label>
            <input type="radio" id="bestSeller" name="bestSeller" value="false" {{if_checked bestSeller false}}>
            <label for="no">No</label><br><br>

            {{!-- <label for="pimg"><b>Upload Photo</b></label>
            <input type="file" id="pimg" name="pimg" accept="image/*"><br><br> --}}

                
            <button type="submit" class="registerbtn">Submit</button>
        </div>
    </form> 
</section>