<section id="body" class="prdtlist-section">
    <button type="submit" class="registerbtn" value = "addprdt"><a href="/inventory">Add New product</button>
	<div class="prdtlist-grid">
                    {{#each data}}  
					<div class="prdtlist-tile">
						<a href="/product-list"  >
						<img class="prdt-image" src="/uploads/{{this.image}}" alt="Hard-disk"/>
						<p class = "prdt-detail">Name:{{this.name}}</p>
						<p class = "prdt-detail">Description:{{this.description}}</p>
						<p class = "prdt-detail">Category:{{this.category}}</p>
						<p class = "prdt-detail">Quantity:{{this.quantity}}</p>
						<p class = "prdt-detail">BestSeller:{{this.bestSeller}}</p>
						<p class = "prdt-detail">Price:{{this.price}}</p></a>
                        <button type="submit" class="prdtbtn" value = "login"><a href="/products/edit/{{this.id}}">Edit/Update product</button>
                        <button type="submit" class="prdtbtn" value = "login"><a href="/products/delete/{{this.id}}?method=DELETE">Delete product</button>
					</div>
					{{else}}
						<h1>No Products in database</h1>	
                  	{{/each}}
	</div>				
</section>