<section id="body" class="prdt-section">
	<form method="POST" action="/products">
        <article class="category-search">
            <div class="form-element">
                <label>Product Category</label>
                <select name="category" id="category">
					<option value="electronics" {{if_same category "electronics"}}>Electronics</option>
                    <option value="men" {{if_same category "men"}}>Mens</option>
                    <option value="women"{{if_same category "women"}}>Womens</option>        
                    <option value="books" {{if_same category "books"}}>Books</option>
                </select>
            </div>
            <input class="submit-button" type="Submit" value="Submit">
        </article>
    </form>   
	<h2 class="heading">{{newCategory}}</h2> 
	<div class="prdt-grid">
                    {{#each products}}  
					<div class="prdt-tile">
						<a href="/products/description/{{this.id}}" >
						<img class="prdt-image" src="/uploads/{{this.image}}" alt="Hard-disk"/>
						<p class = "prdt-detail">{{this.description}}</p>
						<p class = "prdt-subdetail"> CAD $ {{this.price}}</p></a>
						</a>
					</div>
                  	{{/each}}
				  	<div class="prdt7 prdt-tile">
						<h3 class="filter-title">Electronics</h3>
						<ul class = "list">
							<li><a href ="#">Accessories & Supplies</a></li>
							<li><a href ="#">Camera, Photo & Video</a></li>	
							<li><a href ="#">Car & Vehicle Electronics</a></li>
							<li><a href ="#">Cell Phones & Accessories</a></li>
							<li><a href ="#">eBook Readers & Accessories</a></li>
							<li><a href ="#">GPS & Navigation</a></li>
							<li><a href ="#">Headphones</a></li>
							<li><a href ="#">Home Audio</a></li>
							<li><a href ="#">Office Electronics</a></li>
							<li><a href ="#">Portable Audio & Video</a></li>
							<li><a href ="#">Radio Communication</a></li>
							<li><a href ="#">Security & Surveillance</a></li>
							<li><a href ="#">Telephones & Accessories</a></li>
							<li><a href ="#">Televisions & Video</a></li>
							<li><a href ="#">Wearable Technology</a></li>						
						</ul>
				 	</div>  
	</div>				
</section>